*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #1c0423, #580d54);
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
#left,
 #right{
    width: 500px;
    min-height: 400px;
    border: 2px dashed #fff;
    border-radius: 10px;
 }
.list{
    height: 60px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    border-radius: 5px;
    background: #e91e63;
    cursor:grab;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5px;
    height: 30px;
    background: linear-gradient( #e91ea5,#e91e63) ;
}

ul{
    display: flex; 
    width: 100%;
    list-style: none;
    justify-content: end;
    flex: 1;
    align-items: center;
}
li{
    padding: 0 4px 0 10px;
    overflow-wrap: anywhere;

}
.hero{
    padding: 0 70px;
    overflow-wrap: anywhere;
    width: 90%;
    height: 140px;
    background: linear-gradient( dodgerblue, purple);
}
.section{
    display: flex;
    justify-content: end;
    height: 100%;
}

.items{
    height: 100px;
    display: flex;
    width: 90%;
    margin: auto;
    background: transparent;
    margin-top: 20px;
}
.items div{
    text-align: center;
    width: 20%;
    height: 100px;
    background: linear-gradient(rgb(224, 224, 6), orange);
    overflow-wrap: anywhere;

}
.footer{
    width: 90%;
    background: linear-gradient( lightgreen, green);
    overflow-wrap: anywhere;

}